$Green : #BAD800;                                // (Light Mode Background)        
$White : hsl(0, 0%, 100%);
$Red : rgba(197, 38, 38, 0.918);
$Border-bottom : rgb(218, 218, 218);
$Form-border :$Border-bottom;